<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Set password</title>
</head>
<body>
    <h1>Forgot password</h1>
    {% if forgotPassword is empty %}
        No "forgot password"
    {% else %}
        <a href="{{ forgotPassword }}">Set password</a>
    {% endif %}
</body>
</html>

