{% extends 'AppBundle:Default:index.html.twig' %}

{% block body %}
    <div class="row blue">
        <div class="col-xs-12">
            <h2>Default:error403.html.twig</h2>
            <b>Access Denied</b>
        </div>
    </div>
{% endblock %}
