{% extends 'AppBundle:Default:index.html.twig' %}

{% block body %}
    <div class="blue">
        <h2>Default:secret.html.twig</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p><b>IS_AUTHENTICATED_FULLY</b></p>
            <p><i>secret information for </i><b>{{ app.user.username }}</b></p>
        {% else %}
            <i>secret is hidden</i>
        {% endif %}
    </div>
{% endblock %}
